<tr>
    <td>@product.name</td>
    <td>System Architect</td>
    <td>Edinburgh</td>
    <td>61</td>
    <td>2011/04/25</td>
    <td>$320,800</td>
    <td>

        <ul class='list-inline m-0'>
            <li class='list-inline-item'>
                <button class='btn btn-primary btn-sm rounded-0' type='button' data-toggle='' data-placement='top' title='Add'><i class='la la-table'></i></button>
            </li>
            <li class='list-inline-item'>
                <button class='btn btn-success btn-sm rounded-0' type='button' data-toggle='tooltip' data-placement='top' title='Edit'><i class='la la-edit'></i></button>
            </li>
            <li class='list-inline-item'>
                <button class='btn btn-danger btn-sm rounded-0' type='button' data-toggle='tooltip' data-placement='top' title='Delete'><i class='la la-trash'></i></button>
            </li>
        </ul>

    </td>
</tr>

@code {
    [Parameter]
    public Product product { get; set; }


}
