@inject NavigationManager UriHelper
@inject HttpClient Http

<button @onclick="() => AddProduct()" class="btn btn-primary" style="float:right">Add Item</button>
<br />
<br />

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Details</th>
            <th>Product Price</th>
            <th>Manage Product</th>
        </tr>
    </thead>
    <tbody>


        @foreach (Product product in products)
        {
            <DataTableItemComponent product="product"></DataTableItemComponent>
        }




    </tbody>
    <tfoot>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Details</th>
            <th>Product Price</th>
            <th>Manage Product</th>
        </tr>
    </tfoot>
</table>

@code {


    public List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<Product>>("api/Product/VendorId/3");

    }

    void AddProduct()
    {
        UriHelper.NavigateTo("/AddProduct");
    }

}
