@inject HttpClient Http
<div class="card float-left" style="width:250px">
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Filter by Price </h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Min</label>
                        <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <label>Max</label>
                        <input type="number" class="form-control" placeholder="$1,0000">
                    </div>
                </div>
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Filter by Shop </h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                @foreach (Shop shop in shops)
                {
                     <div class="custom-control custom-checkbox">
                   
                    <input type="checkbox" class="custom-control-input" >
                    <label class="custom-control-label" for="Check1">@shop.name</label>
                    </div>
                }
                

               
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Filter by Category </h6>
        </header>
        <div class="filter-content">
            <div class="card-body">

            @foreach (Category category in categories)
            {
                <div class="custom-control custom-checkbox">
                  
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="Check1">@category.categoryName</label>
                </div> <!-- form-check.// -->
                }
                
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
</div> <!-- card.// -->

@code {

    public List<Shop> shops = new List<Shop>();
    public List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        shops = await Http.GetFromJsonAsync<List<Shop>>("api/Shop");
        categories = await Http.GetFromJsonAsync<List<Category>>("api/Category");

    }






}
