@page "/"

<h1>Products</h1>

<div class="row">
    @foreach (var product in products)
    {
        <ProductComponent  product=product></ProductComponent>
    }
</div>

@code {

    List<Product> products = new List<Product>
    {
        new Product(1,"Prod1","Details",2.5),
        new Product(2,"Prod2","Details",2.3),
        new Product(3,"Prod3","Details",5.1),
        new Product(3,"Prod3","Details",5.1),
        new Product(3,"Prod3","Details",5.1),

    };
}
