@page "/"
@inject HttpClient Http

<h1>Products</h1>

    <FilterComponent></FilterComponent>
<div class="row">


        @foreach (var product in products)
        {
            <ProductComponent product=product></ProductComponent>
        }
</div>

@code {

    
   


   public List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<Product>>("api/Product");

    }

}
