@page "/"

<h1>Products</h1>

@foreach(var product in products)
{
    <h2>@product.name</h2>
    <h3>@product.description</h3>
    <h3>@product.price</h3>
}

@code {

    List<Product> products = new List<Product>
    {
        new Product(1,"Prod1","Details",2.5),
        new Product(2,"Prod2","Details",2.3),
        new Product(3,"Prod3","Details",5.1),

    };
}
