@inject NavigationManager UriHelper

<div class="card" style="width: 18rem; margin:15px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@product.name</h5>
        <p class="card-text">@product.description</p>
        <p class="card-text">@product.price</p>
        <button class="btn btn-primary">Details</button>
    </div>
</div>

@code {

    [Parameter]
    public Product product { get; set; }

  

}
