@page "/Product/{id:int}"

product detail @id
<div class="card" style="width: 18rem; margin:15px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">Description</p>
        <p class="card-text"><b>Price</b></p>
        <p class="card-text">Shop Address</p>
        <p class="card-text">Phone#</p>   
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
}