
@inject NavigationManager UriHelper

<div class="card" style="width: 18rem; margin:15px;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Shop Name</h5>
        <p class="card-text">Shop Phone</p>
        <p class="card-text">Shop Address</p>
        <button @onclick="() => ShopDetails(shop.Id)" class="btn btn-primary">Details</button>
    </div>
</div>

@code {

    public Shop shop { get; set; }

    void ShopDetails(int id)
    {
        UriHelper.NavigateTo("/Shop/" + id);
    }
}
